@charset "utf-8";
/*주석*/
h1 {
	color: blue;
	background-color: yellow;
	border: 2px solid;
	text-align: center
}

h3 {
	color: pink;
	text-align: right;
}

p {
	color: blue;
	text-align: center;
}

#text1 {
	font-weight: bold;
}

.text2 {
	font-style: italic;
}

h1,h3 {
	text-decoration: underline;
}